:root {
    --primary-color: #f0cd1c;
}

.App {
    height: 100vh;
    background-color: var(--primary-color);
    color: #000;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    cursor: none;
}

.city-name {
    font-size: 5rem;
    font-weight: 600;
}

.date {
    border-radius: 2rem;
    padding: 2rem;
    background-color: #000;
    color: var(--primary-color);
    font-size: 2rem;
}

.weather-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather {
    font-size: 5rem;
    font-weight: 300;
    text-transform: capitalize;
}

.temperature {
    font-size: 8rem;
    font-weight: 700;
}

.detail-block {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: var(--primary-color);
    border-radius: 2rem;
    padding: 2rem;
    gap: 4rem;
}

.data-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
    gap: 5px;

    .icon {
        font-size: .5rem;
    }
    .info {
        font-size: 3rem;
    }
    .type {
        font-size: 1rem;
    }

    .wi {
        font-size: 3rem;
    }
}
