.App {
    height: 100vh;
    background-color: #ffe142;
    color: #000;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.city-name {
    font-size: 4rem;
    font-weight: 600;
}

.date {
    border-radius: 20px;
    padding: 10px;
    background-color: #000;
    color: #ffe142;
}

.weather-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather {
    font-size: 3rem;
    font-weight: 300;
    text-transform: capitalize;
}

.temperature {
    font-size: 20rem;
    font-weight: 700;
}

.detail-block {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #ffe142;
    border-radius: 20px;
}

.data-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;

    .icon {
        font-size: 5rem;
    }
    .info {
        font-size: 3rem;
    }
    .type {
        font-size: 1.5rem;
    }
}
